<div class="header">
  <div>
    <p><b>Activitys list</b></p>
  </div>
  <div>
    <button pButton (click)="showAddActivityDialog()" type="button" class="headerbutton p-button-rounded">Add Activity
    </button>
  </div>
</div>
<!--Add activity modal :-->
<p-dialog header="Add Activity" [(visible)]="displayAddActivity" [modal]="true" [style]="{width: '50vw'}"
          [maximizable]="true"
          [draggable]="false" [resizable]="false">
  <div class="p-fluid">
    <div class="p-field">
      <label for="date">Date<span class="required">*</span></label>
      <p-calendar id="date" class="input" [(ngModel)]="newActivity.date" dateFormat="yy-mm-dd"></p-calendar>

    </div>
    <div class="p-field">
      <label for="type">Type<span class="required">*</span></label>
      <input class="input" id="type" pInputText [(ngModel)]="newActivity.type"/>

    </div>
    <div class="p-field">
      <label for="participants">Participants</label>
      <!--      <input class="input" id="participants" (change)="updateParticipants()" pInputText-->
      <!--             [(ngModel)]="newActivity.participantEmails"/>-->
      <input class="input" id="participants" pInputText [(ngModel)]="participantsInput" (input)="updateParticipants()"/>

    </div>
    <div class="p-field">
      <label for="subject">Subject</label>
      <input class="input" id="subject" pInputText [(ngModel)]="newActivity.subject"/>
    </div>
    <div class="p-field">
      <label for="note">Notes</label>
      <input class="input" id="note" pInputText [(ngModel)]="newActivity.note"/>
    </div>
    <div class="p-field">
      <label for="documents">Documents</label>
      <input class="input" id="documents" pInputText [(ngModel)]="newActivity.documents"/>
    </div>

    <p-footer>
      <button pButton class="headerbutton p-button-rounded" type="button" label="Save Activity"
              (click)="saveActivity()"></button>
      <button pButton class="headerbutton p-button-rounded" type="button" label="Cancel"
              (click)="closeDialog()"></button>
    </p-footer>

  </div>
  <ng-template pTemplate="footer">
    <p class="required">{{ errorMessage }}</p>
  </ng-template>
</p-dialog>

<!-- Search Bar -->
<span class="p-input-icon-right searchbar">
  <i class="pi pi-search"></i>
  <input (input)="onInputSearch($event)" type="text" pInputText placeholder="Search" [(ngModel)]="value2" />
</span>

<!-- table of acvtivities -->
<div class="table">
  <p-table #dt1 [value]="activities" stripedRows [tableStyle]="{}" styleClass="custom-table">
    <ng-template pTemplate="header" class="headertable">
      <tr>
        <th></th>

        <th pSortableColumn="date">
          <div class="p-d-flex p-jc-between p-ai-center">
            Date<p-sortIcon field="date"></p-sortIcon>

          </div>
        </th>

        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Participants

          </div>
        </th>
        <th pSortableColumn="subject">
          <div class="p-d-flex p-jc-between p-ai-center">
            Subject<p-sortIcon field="subject"></p-sortIcon>

          </div>
        </th>


        <th pSortableColumn="note">
          <div class="p-d-flex p-jc-between p-ai-center">
            Notes<p-sortIcon field="note"></p-sortIcon>

          </div>
        </th>

        <th>
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                  (click)="clearFilter()"></button>
        </th>
      </tr>
      <tr>
        <th></th>

        <th>
          <input pInputText type="text" (input)="onInputChange($event, 'date')"
                 [(ngModel)]="filterData.date" placeholder="Search by Date" class="p-column-filter">

        </th>
        <th></th>

        <th>
          <input pInputText type="text" (input)="onInputChange($event, 'subject')"
                 [(ngModel)]="filterData.subject" placeholder="Search by Subject" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="onInputChange($event, 'note')"
                 [(ngModel)]="filterData.note" placeholder="Search by Note" class="p-column-filter">
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" class="bodytable" let-Activity>
      <tr>
        <td>
          <button class="pi pi-star"></button>
        </td>
        <td>{{ Activity.date }}</td>
        <td class="emails">
          <ul *ngFor="let email of Activity.participantEmails">
            <li>
              {{ email }}
            </li>
          </ul>
        </td>
        <td>{{ Activity.subject }}</td>
        <td>{{ Activity.note }}</td>
        <td>
          <i class="pi pi-pencil"></i>
          <i (click)="showDeleteActivityDialog(Activity)" class="pi pi-trash"></i>
          <p-dialog header="Header" [(visible)]="displayDeleteActivity" [breakpoints]="{'960px': '75vw'}"
                    [style]="{width: '50vw'}" [draggable]="false" [resizable]="true">
            <p>Do you want to delete {{ activityToDelete?.subject }} </p>
            <ng-template pTemplate="footer">
              <p-button (click)="displayDeleteActivity=false" label="No" styleClass="p-button-text"></p-button>
              <p-button (click)="deleteActivity()" label="Yes" styleClass="p-button-text"></p-button>
            </ng-template>
          </p-dialog>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- Edit activity modal -->

<!--<p-dialog header="Edit Activity" [(visible)]="displayEditActivity" [modal]="true" [style]="{width: '50vw'}"-->
<!--          [maximizable]="true" [draggable]="false" [resizable]="false">-->
<!--  <div class="p-fluid">-->
<!--    <div class="p-field">-->
<!--      <label for="date">Date<span class="required">*</span></label>-->
<!--      <p-calendar id="date" class="input" [(ngModel)]="newActivity.date" dateFormat="yy-mm-dd"-->
<!--                  [placeholder]="existingActivity?.date"></p-calendar>-->
<!--    </div>-->

<!--    <div class="p-field">-->
<!--      <label for="type">Type<span class="required">*</span></label>-->
<!--      <input class="input" id="type" pInputText [(ngModel)]="newActivity.type"-->
<!--             [placeholder]="existingActivity?.type"/>-->
<!--    </div>-->

<!--    <div class="p-field">-->
<!--      <label for="participants">Participants</label>-->
<!--      <input class="input" id="participants" pInputText [(ngModel)]="participantsInput"-->
<!--             (input)="updateParticipants()" [placeholder]="existingActivity?.participantEmails"/>-->
<!--    </div>-->

<!--    <div class="p-field">-->
<!--      <label for="subject">Subject</label>-->
<!--      <input class="input" id="subject" pInputText [(ngModel)]="newActivity.subject"-->
<!--             [placeholder]="existingActivity?.subject"/>-->
<!--    </div>-->

<!--    <div class="p-field">-->
<!--      <label for="note">Notes</label>-->
<!--      <input class="input" id="note" pInputText [(ngModel)]="newActivity.note"-->
<!--             [placeholder]="existingActivity?.note"/>-->
<!--    </div>-->

<!--    <div class="p-field">-->
<!--      <label for="documents">Documents</label>-->
<!--      <input class="input" id="documents" pInputText [(ngModel)]="newActivity.documents"-->
<!--             [placeholder]="existingActivity?.documents"/>-->
<!--    </div>-->

<!--    <p-footer>-->
<!--      <button pButton class="headerbutton p-button-rounded" type="button" label="Save Activity"-->
<!--              (click)="saveActivity()"></button>-->
<!--      <button pButton class="headerbutton p-button-rounded" type="button" label="Cancel"-->
<!--              (click)="closeDialog()"></button>-->
<!--    </p-footer>-->
<!--  </div>-->

<!--  <ng-template pTemplate="footer">-->
<!--    <p class="required">{{ errorMessage }}</p>-->
<!--  </ng-template>-->
<!--</p-dialog>-->

