<div class="loginpage">
  <div class="wrapper">
    <h1 class="title">Sign In</h1>

    <form [formGroup]="loginForm" class="login">
      <input formControlName="email" placeholder="Email" type="email">
<!--      <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">-->
<!--        * Enter a valid email.-->
<!--      </p>-->

      <br>

      <input formControlName="password" placeholder="Password" type="password">
<!--      <p *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">-->
<!--      </p>-->

      <br>

      <button (click)="login()" class="connect" type="button" [disabled]="loginForm.invalid">Connect</button>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <a (click)="goToRegister()" class="register-link">Sign Up</a>
    </form>
  </div>
</div>
