<div class="loginpage">
  <div class="wrapper">
    <h1 class="title">Sigh up</h1>

    <form [formGroup]="registerForm" class="login">
      <input formControlName="firstName" name="firstName" placeholder="first name" type="text">
      <br>
      <input formControlName="lastName" name="lastName" placeholder="last name" type="text">
      <br>
      <input formControlName="phoneNumber" name="phoneNumber" placeholder="Phone number" type="text">
      <br>
      <input formControlName="email" name="email" placeholder="email" type="email">
      <br>
      <input formControlName="password" name="password" placeholder="Password" type="password">
      <br>

      <button (click)="register()" class="connect" type="button">Sign Up</button>
      <a (click)="goToLogin()">Sign In</a> <!-- Fixed navigation -->
      <!-- Display error message if it exists -->
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>

  </div>

</div>
