<nav>
  <a class="logo">logo</a>
  <ul>
    <li>
      <a routerLink="/home">HOME</a>
    </li>

    <li>
      <!-- ✅ Make sure `[model]` is correctly passed -->
      <p-tieredMenu  #menu [model]="items" [popup]="true"></p-tieredMenu>
      <button class="crmbutton" #btn type="button" label="CRM"  pButton icon="pi pi-item pi-ellipsis-v" (click)="menu.toggle($event)"></button>
    </li>

    <li>
      <a routerLink="/profile">PROFILE</a>
    </li>

    <li>
      <a (click)="logout()">LOG OUT</a>
    </li>
  </ul>
</nav>
