nav{
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0px 0vw;
  color: rgba(255, 255, 255, 0.71);
  background: rgb(80, 80, 80);
  border-radius: 10px;
  margin: 0 10px;

}
nav a{
  color: rgb(255, 255, 255);
}
.logo{
  margin: 0px;
  padding: 20px 10px;
  width: 100px;
  margin-left: 20px;


}
nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0px 0px;
  padding: 20px 20px;
  justify-content: space-between;

}
nav li{
  align-self: center;
}
.active{
  color: rgba(255, 255, 255, 0.71);
}
.crmbutton {
  background-color: #ed7e33 !important; /* Change to your preferred color */
  color: white !important; /* Text color */
  border: none !important;
}

.crmbutton:hover {
  background-color: #747474 !important; /* Darker shade on hover */
}
/* Change the background and text color of the menu items */
.p-tieredMenu .p-menuitem {
  background-color: #4CAF50; /* Change background color */
  color: white; /* Change text color */
}

/* Change background color of menu items when hovering */
.p-tieredMenu .p-menuitem:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Change the background color of the selected item */
.p-tieredMenu .p-menuitem-active {
  background-color: #388E3C; /* Active item color */
  color: white; /* Text color of active item */
}
